@model workshop4.Models.BookArgs

@{
    ViewBag.Title = "SearchBook";
}

<h2>搜尋書籍</h2>


<form method="post" action="/Book/SearchBook">
    <div class="form-horizontal">

        <div class="form-group">

            <div class="col-md-10">
                <label> 書名</label><br>

                <input id="bookName" name="BookName" />
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <label> 類別</label><br>
                <select id="select_bookClassId" name="BookClassId"></select>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <label> 狀態</label><br>
                <select id="select_bookStatus" name="BookStatus"></select>
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <label>借閱者 </label>  <br>
                <select id="select_bookKeeper" name="BookKeeper"></select>

            </div>
        </div>
        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input id="btn_search" value="Search" class="btn btn-default" />

                <a href="/Book/InsertBook" class="btn btn-default">前往新增書籍</a>
            </div>
        </div>
    </div>

</form>

<div id="result_grid"></div>



@if (ViewBag.SearchResult != null)
{

    <table class="table table-bordered table-striped">
        <thead>
            <tr id>
                <th>圖書類別</th>
                <th>書名</th>
                <th>購書日期</th>
                <th>借閱狀態</th>
                <th>借閱人</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<workshop4.Models.Book>)ViewBag.SearchResult)
            {
                <tr id='@item.BookClass'>
                    <td>@item.BookClass</td>
                    <td style="word-wrap: break-word;max-width: 200px">@item.BookName </td>
                    <td>@item.BookBoughtDate</td>
                    <td>@item.BookStatus </td>

                    <td>@item.UserEName</td>
                    <td>

                        @Html.ActionLink("編輯", "EditBook", new { bookId = item.BookId })
                        <a class="btnDelete" href="#">

                            刪除
                        </a>
                        <input class="bookName" type="hidden" value='@item.BookName' />
                        <input class="bookId" type="hidden" value='@item.BookId' />
                        @Html.ActionLink("借閱紀錄", "CheckBookRecord", new { bookId = item.BookId })



                    </td>

                </tr>
            }
        </tbody>
    </table>

}





<div>
    @Html.ActionLink("前往新增書籍", "InsertBook")
</div>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#btn_search").click(function () {

            $.ajax({
                url: "GetSearchResult",
                dataType: "json",
                data: {

                    "BookName": $(".bookName").val(),
                    "BookClassId": $(".select_bookClassId").val(),
                    "BookStatus": $(".select_bookStatus").val(),
                    "BookName": $(".select_bookKeeper").val()
                },
                type: "post"
            }).done(function (data) {
                $("#demo_output").text(data);

            });




        });

        $("#select_bookClassId").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        url: "GetSelectList",
                        data: { "type": "BookClass" },
                        type: "post",
                        dataType: "json"
                    }
                }
            }
        });
        $("#select_bookStatus").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        url: "GetSelectList",
                        data: { "type": "BookStatus" },
                        type: "post",
                        dataType: "json"
                    }
                }
            }
        });

        $("#select_bookKeeper").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                transport: {
                    read: {
                        url: "GetSelectList",
                        data: { "type": "KeeperFullName" },
                        type: "post",
                        dataType: "json"
                    }
                }
            }
        });




    });





    $(".btnDelete").click(function (e) {
        console.log(123);
        var bookName = $(this).siblings(".bookName").val();
        console.log(bookName);
        if (confirm("是否刪除" + bookName + "?") == true) {

            e.preventDefault();
            var tr = $(this).closest('tr');
            $.ajax({
                type: "POST",
                url: "/Book/DeleteBook",
                data: "bookId=" + $(this).siblings(".bookId").val(),
                dataType: "json",
                success: function (response) {
                    alert("刪除" + bookName + "成功");
                    $(tr).remove();

                }, error: function (error) {
                    alert("此書無法刪除");
                }
            });

        }
        location.reload();
    });
</script>