
@{
    ViewBag.Title = "CheckBookRecord";
}

<h2>借閱紀錄</h2>

@if (ViewBag.RecordResult != null)
{

    <table class="table table-bordered table-striped">
        <thead>
            <tr id>
                <th>借閱日期</th>
                <th>借閱人員編號</th>
                <th>英文姓名</th>
                <th>中文姓名</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<workshop4.Models.Book>)ViewBag.RecordResult)
            {
                <tr>
                    <td>@item.LendDate</td>
                    <td>@item.BookKeeperId </td>
                    <td>@item.UserEName</td>
                    <td>@item.UserCName </td>
                </tr>
            }
        </tbody>
    </table>

}


<div>
    @Html.ActionLink("返回搜尋", "Index")
</div>

