@model workshop4.Models.BookArgs

@{
    ViewBag.Title = "SearchBook";
}

<h2>搜尋書籍</h2>


@using (Html.BeginForm("SearchBook", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookName, "", new { @class = "text-danger" })
            </div>
        </div>

      

        
        
        <div class="form-group">
            @Html.LabelFor(model => model.BookClassId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BookClassId, (List<SelectListItem>)ViewBag.BookClassData, "請選擇", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookClassId, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.BookStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BookStatus, (List<SelectListItem>)ViewBag.BookStatusData, "請選擇", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookStatus, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.BookKeeper, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.BookKeeper, (List<SelectListItem>)ViewBag.BookKeeperData, "請選擇", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BookKeeper, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>

}

@if (ViewBag.SearchResult != null)
{

    <table class="table table-bordered table-striped">
        <thead>
        <tr id>
            <th>圖書類別</th>
            <th>書名</th>
            <th>購書日期</th>
            <th>借閱狀態</th>
            <th>借閱人</th>
            <th></th>
          
        </tr>
        </thead>
        <tbody>
        @foreach (var item in (List<workshop4.Models.Book>)ViewBag.SearchResult)
        {
            <tr id='@item.BookClass'>
                <td>@item.BookClass</td>
                <td>@item.BookName </td>
                <td>@item.BookBoughtDate</td>
                <td>@item.BookStatus </td>

                <td>@item.UserEName</td>
                <td>

                    @Html.ActionLink("編輯", "EditBook", new { bookId = item.BookId })

                    <a id="btnDelete" href="#">刪除</a>

                    @Html.ActionLink("借閱紀錄", "CheckBookRecord", new { bookId = item.BookId })
                   

                    <input id="bookId" type="hidden" value='@item.BookId' />

                </td>

            </tr>
        }
        </tbody>
    </table>

}




<div>
    @Html.ActionLink("前往新增書籍", "InsertBook")
</div>

@if(TempData["message"]!=null){
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#btnDelete").click(function (e) {

            if (confirm("是否刪除?") == true) {

                e.preventDefault();
                var tr = $(this).closest('tr');
                $.ajax({
                    type: "POST",
                    url: "/Book/DeleteBook",
                    data: "bookId=" + $("#bookId").val(),
                    dataType: "json",
                    success: function (response) {
                        alert("刪除成功");
                        $(tr).remove();
                       
                    }, error: function (error) {
                        alert("此書無法刪除");
                    }
                });
                location.reload();
            } else {

                alert("取消刪除");
            }

        });
        $("#btnRecord").click(function(e) {


        });

    });
</script>